:root{
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
display: flex;
text-align: inherit;
justify-content: center;
align-items: center;
background-color: var(--White);
background-image:url(../public/images/bg-main-desktop.png);
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
}

img{
  display: inline-block;
  position: relative;

}

input{
  height: 2rem;
  border-radius: 0.5rem;
  border-style:solid;
  
}

p{
font-family: "Space Grotesk", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 15px;
}

button{
  background-color: var(--Very-dark-violet);
  color: var(--White);
  height: 2.5rem;
  border-radius: 0.5rem;
  border-style: none;
  font-family: "Space Grotesk", sans-serif;
}

.card-frontal{
  padding-right: 5rem;
}

.card-traseira{
  padding-left: 5rem;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 7rem;
}

.number-card, .text-card, .date-card, .cvc-card{
  position: absolute;
  z-index: 1;
  padding: 0rem 2rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 30vw;
  color: var(--White);
  font-family: "Space Grotesk", sans-serif;
}

.date-card, .text-card{
  top: 18rem;
  font-size: 1.5rem;
}

.number-card{
  top: 15rem;
}

.text-card{
  max-width: 20vw; 
  overflow: hidden;
  white-space: nowrap;
 }

.date-card{
  right: 54vw;
  }

.cvc-card{
  top: 65vh;
  right: 50vw;
}